.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/**/build/

.idea/
*.iws
*.iml
*.ipr
out/
!**/src/**/out/

.run/

.apt_generated
.classpath
.eclipse/
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/**/bin/

.vscode/
.github/copilot-instructions.md
goal.md
vein_miner.md
worldgen_silktouch.md
milestone.md
[Cc]reative_testing.md
libs 26.1.x/
libs 26.2.x/

.DS_Store

run/
!**/src/**/run/
**/src/generated/**/.cache/
repo/
!**/src/**/repo/
